torch>=2.4.0
torchvision>=0.19.0
git+https://github.com/facebookresearch/fvcore.git
iopath
yacs>=0.1.6
pyyaml>=5.1
av
matplotlib
termcolor>=1.1
simplejson
tqdm
psutil
opencv-python
pandas
Pillow
scikit-learn
tensorboard
git+https://github.com/facebookresearch/fairscale.git
pytorchvideo
moviepy
